<?xml version = "1.0" encoding = "UTF-8"?>
<suite name = "Simple Logger Suite">
    <listeners>
        <listener class-name = "com.coherent.aqa.java.training.api.matveenko.base.TestListener" />
    </listeners>

    <test name = "Simple Logger test">
        <classes>
            <class name = "com.coherent.aqa.java.training.api.matveenko.TokenTests" />
        </classes>
    </test>
</suite>