<?xml version = "1.0" encoding = "UTF-8"?>
<suite name = "Simple Logger Suite">
    <listeners>
        <listener class-name = "base.TestListener" />
    </listeners>

    <test name = "Simple Logger test">
        <classes>
            <class name = "TokenTests" />
        </classes>
    </test>
</suite>